<div id="<%= dom_id review %>">
  <p>
    <strong>Content:</strong>
    <%= review.content %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= review.rating %>
  </p>

  <p>
    <strong>Likes:</strong>
    <%= review.likes %>
  </p>

  <p>
    <strong>User:</strong>
    <%= review.user.name%>
  </p>

  <p>
    <strong>Movie:</strong>
    <%= review.movie.title %>
  </p>

</div>
